{% extends 'base.html' %}
{% block htmltitle %}
  Blogly -
  {{user.first_name}}
  {{user.last_name}}
{% endblock %}
{%block content %}
  <div class="row">
    <div class="col-2">
      <img class="img-fluid" src="{{user.image_url}}"/>
    </div>
    <div class="col-10">
      <div>
        <h1>{{user.first_name}}
          {{user.last_name}}</h1>
      </div>
      <div>
        <form action="/users/{{user.id}}/delete" method="post">
          <a href="/users/{{user.id}}/edit" class="btn btn-primary">
            Edit
          </a>
          <button type="submit" class="btn btn-danger">Delete</button>
        </form>
      </div>
      <div>
        <h2>Posts</h2>
        <ul>
          {% for post in user.posts %}
            <li>
              <a href="/posts/{{post.id}}">{{post.title}}</a>
            </li>
          {% endfor %}
        </ul>
        <a class="btn btn-primary" href="/users/{{user.id}}/posts/new">Add Post</a>
      </div>
    </div>
  </div>
{% endblock %}
